html.theme-dark {
    & .about__photo img {
        filter: grayscale(1.0);
    }
}

.about {
    &__header {
        margin-bottom: 2rem;
        display: flex;
        @include mq(sm) {
            flex-direction: column;
        }
        @include mq(md) {
            flex-direction: row;
            max-height: 450px;
            align-items: center;
        }
    }
    &__photo {
        position: relative;
        display: block;
        margin-bottom: 2rem;
        @include mq(sm) {
            text-align: center;
        }
        @include mq(md) {
            margin-right: 15px;
        }

        & img {
            position: relative;
        }

        &--border {
            display: inline-block;
            border: 15px solid $brand-color-primary;
            @include mq(sm) {
                width: 70%;
            }
            @include mq(md) {
                width: 100%;
            }
        }
    }

    &__intro {
        max-width: 54rem;

        @include mq(md) {
            font-size: 1.6rem;
        }
        @include mq(lg) {
            font-size: 2rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }
    &__social {
        list-style-type: none !important;

        .icon {
            font-size: 1.25rem;
            margin-right: 1.25rem;
        }
    }

    .projects {
        transform-style: preserve-3d;
        h4 {
            font-family: monospace;
        }
    }


    .project {

        &__square {
            background-color: $brand-color-primary;
            position: absolute;
            height: 300px;
            width: 300px;
            transform: translate3d(0, 0, -1rem);

            &--left {
                top: -15px;
                left: -15px;
                border-radius: 10px 0 0 0;
            }

            &--right {
                bottom: -15px;
                right: -15px;
                border-radius:  0 0 10px 0;
            }
        }

        &__card {
            border: 1px solid $gray-light;
            border-radius: 10px;
            position: relative;
            background: #fff;
            margin: 150px 0;
            transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out;
            transform-style: preserve-3d;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0  5px 10px rgba(0,0,0,0.2);
            }
        }

        &__techWrapper {
            display: flex;
            justify-content: space-around;
        }

        &__tech {
            max-width: 64px;

            @include mq(sm) {
                max-width: 48px;
            }
            @include mq(md) {
                max-width: 64px;
            }
            @include mq(lg) {
                max-width: 96px;
            }
        }

        &__details {
            width: 100%;
            padding: 20px;
            background: $gray-light;
            border-radius: 0 0 10px 10px;
        }

        &__details:before {
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: linear-gradient(to top, #ececec, rgba(0,0,0,0))
        }

        &__screenshot {
            width: 100%;
            margin: 20px;
            max-width: 600px;
            border: 25px solid $gray-light;
            overflow:hidden;
            z-index: -2;
        }

        &__label {
            display: inline-block;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
            transition-property: color;
            transition-duration: 250ms;
            padding: 5px;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: -20px;
                bottom: 0;
                background: $brand-color-primary;
                transform: scaleX(0);
                transform-origin: 0 50%;
                transition-property: transform;
                transition-duration: 250ms;
                transition-timing-function: ease-out;
            }

            &:hover, &:focus, &:active {
                color: white;
            }

            &:hover .project__label--link {
                stroke: #fff;
            }

            &:hover:before, &:focus:before, &:active:before {
                transform: scaleX(1);
            }

            &--link {
                width: 18px;
                stroke: $brand-color-primary;
                fill: none;
                display: inline-block;
                transition: stroke 150ms ease-in;

                position: absolute;
                bottom: 7px;
                right: -17px;
            }
        }


        &__desc {
            font-size: 1rem;
            color: $text-color-secondary;
        }

    }

    @include mq(lg) {
        &__header {
            display: flex;
            align-items: center;
            margin: 0 calc(50% - 50vw) 3rem;
        }
        &__photo {
            width: 40%;
            max-width: 500px;
            margin: 0;
            margin-left: 15px;
        }
        &__intro {
            flex: 1 1 60%;
            padding: 2rem 3rem;
        }
        &__content {
            @include container-narrow;
        }
    }
    @include mq-down(md) {
        .projects {
            width: 90%;
            margin: 0 auto;
        }
        .project__card > img {
            width: 85%;
        }
    }
}
