---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/ndo-1601.png' | url }}"
                        srcset="{{ '/assets/images/ndo-1601.png' | url }} 800w, 
                        {{ '/assets/images/ndo-1601.png' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Nico Domino"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I'm Nico Domino, a System Administrator / Full Stack Web Developer / DevOps Engineer based in Frankfurt, Germany</p>
                    <p>
                        I've been building stuff on the web for the last 10 years, 5 professionally. 
                    </p>
                    <p>I like creating engaging, practicle, accessible content online! </p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I work at <a href="https://newtelco.com">Newtelco</a>, a datacenter management company in Frankfurt 
                    dedicated to getting your business connected to the rest of the world.
                </p>
            
                <div class="projects">
                    <h2>Projects</h2>
                    {% for project in projects %}
                        <p>
                            <a href="{{ project.url }}">
                                <h4>{{ project.name  }}</h4>
                                <img class="about-screenshot" src="{{ project.image }}" alt="Screenshot {{ project.name }}"></img>
                            </a>
                        </p>
                    {% endfor %}
                    <p>
                        <a href="https://home.newtelco.de">
                          <h4>home.newtelco.de</h4>
                        </a>
                        <img class="about-screenshot" src="/assets/images/screenshots/homenewtelco.png" alt="Screenshot home.newtelco.de"></img>
                    </p>
                    <p>
                        <a href="https://youtube.ndo.dev">
                          <h4>youtube.ndo.dev</h4>
                        </a>
                        <img class="about-screenshot" src="/assets/images/screenshots/youtube.png" alt="Screenshot youtube.ndo.dev"></img>
                    </p>
                    <p>
                        <a href="https://vacation.newtelco.dev">
                          <h4>vacation</h4>
                        </a>
                        <img class="about-screenshot" src="/assets/images/screenshots/vacationnewtelco.png" alt="Screenshot vacation"></img>
                    </p>
                </div>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "keybase" %}<a href="{{ author.social.keybase.url }}">Keybase</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
