---
layout: base
tags: nav
title: About Me
navtitle: About
navorder: 4
permalink: about/index.html
---
<div class="page page--about">
    <header class="page__header">
        <h1 class="page__title">Hey there.</h1>
    </header>
    <div class="page__content page__content--fullwidth">

        <div class="about">
            <div class="about__header">
                <div class="about__photo">
                    <img
                        class="responsive-image js-responsive-image"
                        src="{{ '/assets/images/ndo-1601.png' | url }}"
                        srcset="{{ '/assets/images/ndo-801.png' | url }} 800w, 
                        {{ '/assets/images/ndo-1601.png' | url }} 1600w"
                        sizes="(min-width: 940px) 40vw, 100vw"
                        alt="Nico Domino"
                    />
                </div>
                <div class="about__intro lead">
                    <p>I'm Nico Domino, a System Administrator / Full Stack Web Developer / DevOps Engineer based in Frankfurt, Germany</p>
                    <p>
                        I've been building stuff on the web for the last 10 years, 5 professionally. 
                    </p>
                    <p>I like creating engaging, practicle, accessible content online! </p>
                </div>
            </div>
            <div class="about__content markdown">
                <h2>Work</h2>
                <p>
                    I work at <a href="https://newtelco.com">Newtelco</a>, a datacenter management company in Frankfurt 
                    dedicated to getting your business connected to the rest of the world.
                </p>
            
                <div class="projects">
                    <h2>Projects</h2>
                    {% for project in projects %}
                    <div class="project__card">
                        <div class="decorativeSquare"></div>
                        {% if project.image %}
                        <img class="project__screenshot" src="{{ project.image }}" alt="Screenshot {{ project.name }}"></img>
                        {% endif %}
                        <div class="project__details">
                            <a target="_blank" href="{{ project.url }}">
                                <h3 class="project__label">{{ project.name  }}</h3>
                                <div class="project__desc">
                                    {{ project.desc }}
                                </div>
                            </a>
                        </div>
                        <div class="decorativeSquare2"></div>
                    </div>
                    {% endfor %}
                </div>

                <h2>Online</h2>
                <ul class="about__social">
                    <li>{% icon "twitter" %}<a href="{{ author.social.twitter.url }}">Twitter</a></li>
                    <li>{% icon "github" %}<a href="{{ author.social.github.url }}">Github</a></li>
                    <li>{% icon "keybase" %}<a href="{{ author.social.keybase.url }}">Keybase</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
