---
layout: base
tags: nav
navtitle: Home
navorder: 1
permalink: index.html
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">I make web stuff.</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, my name is Nico</a></p>

        <div class="hero__content">
            <p>I’m System Admin at <a href="https://newtelco.com" class="hero__link hero__link--simpleloop">Newtelco</a>, a full service Datacenter company in Frankfurt. <br class="hero__br" />
            I also write about the web on my <a href="/blog" class="hero__link">Blog</a> and sometimes post things that make sense on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>.</p>
        </div>
    </div>
</div>
